.Rproj.user
.Rhistory
.RData
.Ruserdata
Figure_2.pdf
Figure_3.pdf
Figure_4.pdf
Figure_5.pdf
Figure_S1.pdf
Figure_S2.pdf
Figure_S3.pdf
PCA_cluster.png
PCA_wells.png
Preliminary_plot.png
Extra_analysis_wells.R
rawdata/Basic_chemistry_wells.csv